[submodule "release-version"]
	path = release-version
	url = https://github.com/gendloop/release-version
	branch = main
[submodule "sync-download"]
	path = sync-download
	url = https://github.com/gendloop/sync-download
	branch = main
[submodule "cmake-and-upload"]
	path = cmake-and-upload
	url = https://github.com/gendloop/cmake-and-upload
	branch = main
