[submodule "release-version"]
	path = release-version
	url = https://github.com/gendloop/release-version
	branch = main
[submodule "sync-download"]
	path = sync-download
	url = https://github.com/gendloop/sync-download
	branch = main
[submodule "cmake-and-upload"]
	path = cmake-and-upload
	url = https://github.com/gendloop/cmake-and-upload
	branch = main
[submodule "upload-release-assets"]
	path = upload-release-assets
	url = https://github.com/gendloop/upload-release-assets
	branch = main
[submodule "update-submodules"]
	path = update-submodules
	url = https://github.com/gendloop/update-submodules
	branch = main
[submodule "add-submodule"]
	path = add-submodule
	url = https://github.com/gendloop/add-submodule
	branch = main
[submodule "add-vs-solution"]
	path = add-vs-solution
	url = https://github.com/gendloop/add-vs-solution
	branch = main
[submodule "copy-secrets"]
	path = copy-secrets
	url = https://github.com/gendloop/copy-secrets
	branch = main
[submodule "replace-str"]
	path = replace-str
	url = https://github.com/gendloop/replace-str
	branch = main
[submodule "git-push"]
	path = git-push
	url = https://github.com/gendloop/git-push
	branch = main
[submodule "add-vs-test-project"]
	path = add-vs-test-project
	url = https://github.com/gendloop/add-vs-test-project
	branch = main
